<div class="container">
<h1>Upload Files for Comparison Here</h1>
<div class="row">
	<div class="span12">
	<h3>Enter the base file here:</h3>
	<input type="file" name="base">
	
	<h4>Add as many comparison data sets as you'd like:</h4>
	<input type="file" name="base">
	<input type="file" name="base">
	<input type="file" name="base">
	<button class="btn btn-info">Add another</button>
	</div>
</div>
<button class="btn btn-success">Analyze!</button>
</div>